html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
} 
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


h1{
  font-size: 100px;
  font-style: Ubuntu; 
  text-align: center;
  color: white;
  position: relative;
  property-name duration timing-function delay*/
  -webkit-transition: top .2s linear;*/
  /*transition: top .2s linear;*/
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

h1:hover{
  color: red;
  top: 5px;
}

header > #sub_heading{
  font-size: 25px;
  text-align: center;
}

a:hover{
  background-color: green;  
}

body{
  background-image: url("http://www.bhmpics.com/walls/planet_night_moon_stars_and_nebula-wide.jpg");
  background-repeat: repeat;
  color: white;
  font-size: 20px;
}

nav ul#main_nav{
  text-align: center;
}

nav ul#main_nav li.nav_item,
nav ul#main_nav li.active a{
  color: white;
  display: inline;

}

nav > #main_nav > li.nav_item > a{
  text-decoration: none;
  color: white;
}

nav ul#main_nav > li > ul#sub_nav{
 position: relative;
 left: 182px;

}

nav ul#main_nav > li > ul#sub_nav:hover li{
  display: inline;

}

nav > ul#main_nav > li.nav_item.has_dropdown > ul#sub_nav{
  display: none;
  color: white;  
}


nav > ul#main_nav > li.nav_item.has_dropdown > ul#sub_nav:hover{
  visibility: initial;
  color: white;
  text-decoration: none;
}

nav > ul#main_nav > li.nav_item.has_dropdown:hover > ul#sub_nav{
  display: block;
  text-decoration: none;
}

nav > ul#main_nav > li.nav_item.has_dropdown:hover > ul#sub_nav li{
  display: block;
  text-decoration: none;
}

nav > ul#main_nav li ul a{
  color: white;
  text-decoration: none;
 
}

p{
  color: white;
}

.section_title{
  font-size: 25px;

}

#float_things{
  max-width: 80%;
  margin: auto;
}

section#main_content{
/*  position: relative;*/
/*  top: 30px;*/
  border: 20px solid yellow;
  float: left;
  width: 60%;
  box-sizing: border-box;
}

aside#side_content{
 border: 20px solid yellow;
 float: right; 
 width: 40%;
 box-sizing: border-box; 
}

/*footer,#side_content{
  position: relative;
  top: 30px;
}*/

.side_title{
  font-size: 25px;
}



















